{% extends 'inscription_pedago/base_instruments.html' %}

{% block content %}
            
    <div class="row">

            <div class="col-md-3 mt-4"></div>
    
            <div id="from_signup" class="col-md-9">
                <div class="row-spacer"></div>                <legend>Contactez nous</legend>
                <form method='POST'> {% csrf_token %}
    
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <div id="header_name" class="input-group-text verti_align">{{ form.genre.label }}</div>
                        </div>
                        {{ form.genre }}
                        <div class='col-md-4'></div>
                    </div>

                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <div id="header_name" class="input-group-text verti_align">{{ form.name.label }}</div>
                        </div>
                        {{ form.name }}
                        <div class='col-md-4'></div>
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <div id="header_name" class="input-group-text verti_align">{{ form.surname.label }}</div>
                        </div>
                        {{ form.surname }}
                        <div class='col-md-4'></div>
                    </div>


                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <div id="header_name" class="input-group-text verti_align">{{ form.enterprise_name.label }}</div>
                        </div>
                        {{ form.enterprise_name }}
                        <div class='col-md-4'></div>
                    </div>
                    <div class="input-group mb-3 mt-3">
                            <div class="input-group-prepend">
                                <div id="header_phone" class="input-group-text verti_align">{{ form.phone_number.label }}</div>
                            </div>
                            {{ form.phone_number }}
                            <div class='col-md-4 password_error'>
                                {% for error in form.phone_number.errors %} {{ error }} {% endfor %}
                            </div>
                        </div>
    
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <div id="header_demandes" class="input-group-text verti_align">{{ form.demandes_particulieres.label }}</div>
                        </div>
                        {{ form.demandes_particulieres }}
                        <div class='col-md-4'></div>
                    </div>

                    <div class='row'>
                        <div class="col-5 "></div>        
                        <div id="submit_profil1">
                            <button type="submit" class="btn btn-info mb-3">Envoyer</button>
                        </div>        
                        <div class="col-5 "></div>        
                    </div>

                    </form>
                </div>
            </div>
{% endblock %}