
{% extends 'inscription_pedago/base_instruments.html' %}
{% load static %}

{% block content %}

  

    <div class="row" id="instrument-header">
        <div class="col d-none d-lg-block">
            <p class="text-center tata accroche">Devenez une entreprise mécène grâce au prêt d’instrument et bénéficiez de dispositions fiscales avantageuses </p>
        </div>

        <div class="col d-none d-md-block d-lg-none">
            <p class="text-center accroche">
                Devenez une entreprise mécène grâce au prêt d’instrument <br> 
                Bénéficiez de dispositions fiscales avantageuses 
            </p>
        </div>

        <div class="col d-none d-sm-block d-md-none">
            <p class="text-center accroche">
                Devenez une entreprise mécène<br>grâce au prêt d’instrument 
            </p>
        </div>

        <div class="col d-sm-none">
            <p class="text-center accroche">
                Devenez une entreprise mécène
            </p>
        </div>
    </div>
            
<div class="row-spacer"></div>
<div class="row-spacer" ></div>
<div class="row">
    <div class="col-10 mx-auto" id="points-forts">
        - Soutenez la culture en France en devenant mécène d’entreprise<br>
        - Aidez les solistes de demain en leur prêtant des instruments exceptionnels<br>
        - Améliorez l’image de votre entreprise <br>
        - Bénéficiez d’avantages fiscaux parmi les plus intéressants en France<br>
    </div>
</div>
<div class="row-spacer"></div>
<div class="row-spacer" ></div>
<div class="row-spacer"></div>
<div class="row-spacer" ></div>

<div class="row">
    <div class="col-10 d-none d-sm-block  mx-auto">
        <p class="h4 text-left text-uppercase m-6">Les avantages :</p>                                    
        <ul>
            <li>Profitez d’une déduction d’impôt</li>
            <li>Investissez dans des instruments dont la valeur augmente</li>
            <li>Améliorez votre visibilité</li>
        </ul>                    
    </div>
    <div class="col d-sm-none">
        <p class="h4 text-left text-uppercase m-6">Les avantages :</p>                                    
        <ul class="roro">
            <li>Profitez d’une déduction d’impôt</li>
            <li>Investissez dans des instruments dont la valeur augmente</li>
            <li>Améliorez votre visibilité</li>
        </ul>   
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto" >
        <p class="toto">
            L'avantage majeur du mécénat est la déduction fiscale qui en résulte.<br>
            Toutefois, en bénéficiant de nos conseils il vous sera possible d'investir dans des instruments dont la valeur pourra augmenter jusqu’à 10% par an.<br>            
        </p>
        <p class="toto">
            Votre société sera mise en avant par le musicien se voyant prêter votre instrument.<br>                    
            Toutes les entreprises peuvent investir dans les instruments, et nous vous conseillerons un produit adapté à votre chiffre d'affaires.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto" >
        <p class="lead">Avantage fiscal</p>
        <p class="toto">
            Vous pouvez déduire 0,5% par an de votre chiffre d’affaires, pendant 5 ans :<br>
            Si votre entreprise achète un instrument de lutherie d’art, le prix de l’instrument sera déductible du résultat imposable, par fraction de 20%.
        </p>
    </div>
</div>

<br>
<div class="row">
    <div class="col-8 mx-auto" id="instrument-exemple">
        <p>
            Une entreprise dont le chiffre d’affaires est de 300 000€ pourra déduire 1500€ par an pendant 5 ans. <br>
            Elle pourra acquérir une œuvre d'art ou un instrument d'une valeur de 7500€.                                              
        </p>
    </div>
</div>


<div class="row-spacer"></div>
<div class="row-spacer"></div>
<div class="row-spacer d-none d-md-block" ></div>

<div class="row">
        <div class="col-10 d-none d-sm-block  mx-auto">
            <p class="h4 text-left text-uppercase m-6d">Les Conditions :</p>
            <ul  class="roro">
                <li>Les instruments doivent être achetés directement chez un luthier, un négociant d’art, etc…</li>
                <br>
                <li>Les instruments doivent être prêtés gratuitement aux artistes-interprètes qui en feraient la demande.</li>
                <br>
                <li>Les instruments concernés par le mécénat sont aussi bien les instruments anciens que les instruments contemporains. </li>
            </ul>                      
        </div>
        <div class="col d-sm-none">
            <p class="h4 text-left text-uppercase m-6">Les Conditions :</p>                                    
            <ul class="roro">
                <li>Les instruments doivent être achetés directement chez un luthier, un négociant d’art, etc…</li>
                <br>
                <li>Les instruments doivent être prêtés gratuitement aux artistes-interprètes qui en feraient la demande.</li>
                <br>
                <li>Les instruments concernés par le mécénat sont aussi bien les instruments anciens que les instruments contemporains. </li>
            </ul>     
        </div>
    <div class="col-1 d-none"></div>
</div>

<div class="row">
    <div class="col-1 d-none"></div>
    <div class="col-10 mx-auto" >
        <p class="lead">Quels musiciens peuvent profiter de ce type de mécénat ?</p>
        <p class="toto">
            Tous les musiciens ne peuvent remplir les critères pour pouvoir profiter du soutien d’une entreprise dans le cadre de cette loi.<br>
            Elle limite l’usage de ces instruments par des professionnels ou des étudiants en voie de professionnalisation. <br><br>
            Ces conditions sont tirées directement du texte de loi :<br>
            “Les personnes qui suivent une formation musicale dans un établissement ou une école visée ci-après ou qui ont une qualification musicale d’un diplôme correspondant à un cycle 3 de conservatoire national de région ou d’école nationale de musique ou d’un équivalent européen.” <br>
            “Les étudiants et anciens étudiants des conservatoires nationaux supérieurs de musique de Paris et de Lyon sont réputés remplir ces conditions de niveau”</br>
            “Les personnes qui exercent, à titre professionnel, une activité d’artiste-interprète.”</br>
        </p>
    </div>
    <div class="col-1 d-none"></div>
</div>
<div class="row-spacer"></div>
<div class="row-spacer" ></div>            
<div class="row-spacer d-none d-md-block" ></div>

<div class="row">
        <div class="col-10 d-none d-sm-block  mx-auto">
            <p class="h4 text-left text-uppercase m-6">Notre rôle :</p>                                    
            <ul  class="roro">
                <li>Nous rechercherons auprès de plusieurs luthiers le meilleur instrument qui correspondra à vos critères.</li>
                <br>
                <li>Nous effectuerons la publicité du prêt d’instrument auprès des musiciens concernés, et sélectionnerons pour vous celui qui sera le plus en accord avec l’instrument.</li>
                <br>
                <li>Nous serons également votre interlocuteur privilégié auprès du luthier, qui assurera le suivi de l’instrument tout au long de sa vie pour préserver sa valeur et le maintenir au standard professionnel.</li>
            </ul>
            <p class="toto">
                    Notre rôle sera donc de vous accompagner tout au long de votre démarche d’investissement pour votre mécénat. <br>     
                    
                    <br>
                    Vous pouvez en savoir plus sur le site institutionnel <a id="texte-loi" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F32914"> ici</a>.

            </p>
            <br><br>
        </div>
        <div class="col d-sm-none">
            <p class="h4 text-left text-uppercase m-6">Les avantages :</p>                                    
            <ul class="roro">
                <li>Nous rechercherons auprès de plusieurs luthiers le meilleur instrument qui correspondra à vos critères.</li>
                <br>
                <li>Nous effectuerons la publicité du prêt d’instrument auprès des musiciens concernés, et sélectionnerons pour vous celui qui sera le plus en accord avec l’instrument.</li>
                <br>
                <li>Nous serons également votre interlocuteur privilégié auprès du luthier, qui assurera le suivi de l’instrument tout au long de sa vie pour préserver sa valeur et le maintenir au standard professionnel.</li>
                <br>
            </ul>
            <p class="col-10 mx-auto toto">
                Notre rôle sera donc de vous accompagner tout au long de votre démarche d’investissement pour votre mécénat.
                <br><br>
                Vous pouvez en savoir plus sur le site institutionnel <a id="texte-loi" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F32914"> ici</a>.
                <br>
            </p>
            <br>
        </div>
        
        <div class="col-1 d-none"></div>
</div>

<div class="row">
    <div class="col-12 text-center" id="contacteznous">
        <p> 
            <button class="btn btn-info mb-3" onclick="document.location='{% url 'test_learnbox:contact-us' %}'">Contactez-nous</button>          
        </p>
    </div>
</div>

<div class="row-spacer" ></div>         

<div class="row-spacer" ></div>            
<div class="row-spacer" ></div>            

{% endblock %}