{% extends 'inscription_pedago/base_instruments.html' %}

{% block specific_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/wewillcontactyou.css' %}">
{% endblock %}


{% block content %}  
<div class="row-spacer"></div>
<div class="row-spacer"></div>          
<div class="row">
        <div class="col-10 mx-auto" >
            <p class="toto">
                Nous vous contacterons dans les 48 heures.<br>
                Merci de vorre visite.
            </p>
        </div>
    </div>
{% endblock %}